<h1>
  {{title}}
</h1>
<div class="row">
<div class="col-md-1"></div>
<div class="col-md-5">
<ng-template #accountsTemplate>
  <accounts></accounts>
</ng-template>

  <div *ngFor="let account of accounts" value="account.accountNumber">
        <accounts [accountNumber]="account.accountNumber" [img]="account.img"></accounts>
</div>

<app-dropdown></app-dropdown>
<!--<rich-demo></rich-demo>-->


<ng-select #selectedValue
    [options]="options"
    [multiple]="true"
    (selected)="selected($event)"
    (deselected)="deselected($event)"
    placeholder="Select an account"
    [(ngModel)]="values" #t (change)="selected(t.value)">
</ng-select>

{{selects}}


<block-credit-card >
    <div #capture capture>
      <h1>
        block-credit-card Capture!
      </h1>
      <div class="form-group">
            <label for="sel1">Select list (select one):</label>
            <select class="form-control" id="sel1">
              <option *ngFor="let account of accounts" value="account.accountNumber">
                      <accounts [accountNumber]="account.accountNumber" [img]="account.img"></accounts>
              </option>

            </select>
          </div>

    </div>

    <div block-verify [attr.id] ="getCurrrentView()">
      <h1 >
        block-credit-card Verify!
      </h1>
      <input type="text" (input)="hiHello($event)"/>
  </div>
  <div block-verify>
    <h1>
      block-credit-card Confirm!
    </h1>
</div>

</block-credit-card><br>
</div></div>
